# .coveragerc to control coverage.py
[run]
branch = False
source = .
omit =
    ./classes/static/console.py
    ./classes/static/updater.py
    ./classes/tools/*
    ./tests/*
[report]
exclude_lines =
    pragma: no cover
    !cover
    def __repr__
    except
    raise
    if __name__ ==

ignore_errors = True
