# .coveragerc to control coverage.py
[run]
branch = False
source = .
omit =
    # omit Wizards, which rely on human input.
    ./classes/wizards/*
    ./classes/util/console.py
    ./classes/util/updater.py
    ./classes/util/win_file_fixer.py
[report]
exclude_lines =
    pragma: no cover
    !cover
    def __repr__
    except
    raise
    if __name__ ==

ignore_errors = True
