language: python
python:
- '3.5'
- '3.6'
install:
- pip install -U pip wheel
- pip install -r requirements.txt
- pip install coveralls
- pip install pycryptodome
- python ./classes/tools/encryptor.py decrypt ./tests/test-settings.json.enc ./tests/test-settings.json
- python ./classes/tools/encryptor.py decrypt ./tests/Legacy-Manifest.json.gz.enc ./download/Manifest.json.gz
script:
- coverage run --parallel-mode main.py --test --update_only --skip_pauses
- coverage run --parallel-mode main.py --test --skip_pauses --interface.start_server=false
after_success:
- coverage combine
- COVERALLS_PARALLEL=true coveralls
notifications:
  email: false
  webhooks:
    urls:
    - https://hook.rofl.wtf/
    on_success: change
    on_failure: change
    on_start: change
    on_cancel: never
    on_error: change
cache: pip
