psaw~=0.0.12
youtube_dl
imgurpython==1.1.7
requests>=2.22.0
sqlalchemy==1.3.23
praw==7.2.0
lxml==4.6.3
newspaper3k==0.2.8
beautifulsoup4==4.7.1
colorama==0.4.1
Pillow==8.3.2
pathvalidate==0.28.1
eel==0.11.1
twitter-text-python==1.1.1
appdirs==1.4.4
alembic==1.4.3
prawcore~=2.0.0
