body {
	font-family: 'Roboto', sans-serif;
}

a {
    color: dodgerblue;
    cursor: pointer;
}

a:hover {
    font-weight: bold;
}

label{
    color: gray;
    padding-right: 5px;
}

summary{
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

summary:focus {
    outline-style: none;
}

summary::-webkit-details-marker {
    display: none;
}
