@media only screen and (max-width: 700px) {
	.source_add_filter, .source_filter_remove, .save_button  {
		margin-left: 0 ;
		margin-top:10px;
	}
	.search_categories{
		display: block;
	}
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	color:white;
	background:#3b3b3b;
}

a {
	color: dodgerblue;
	cursor: pointer;
}

a:hover {
	font-weight: bold;
}

label{
	color: silver;
	padding-right: 5px;
	cursor: pointer;
}

summary{
	/* Summary objects are used as JS-free hidable groups. */
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}

details{
	padding-left: 5px;
	padding-top: 2px;
	border: 1px solid #656565;
	border-radius: 10px;
}
details[open] summary{
	border-bottom: 1px dashed #656565;
}

summary:hover {
	text-shadow: 2px 2px black;
}

summary:focus {
	/* Summary objects are used as JS-free hidable groups. */
	outline-style: none;
}

summary::-webkit-details-marker {
	/* Summary objects are used as JS-free hidable groups. */
	/* TODO: Maybe show these, but make the less terrible looking. */
	display: none;
}

ul.header {
	/* NavBar */
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}

li.active {
	/* NavBar - selected "page". */
	background-color: #4CAF50;
}

li.special {
	background-color: cornflowerblue;
	margin-left: 50px;
	border-radius: 15px
}

li.disabled a{
	color: gray !important;
	cursor: auto !important;
}

input[type=button]:hover{
	cursor: pointer;
	filter: brightness(85%);
}

input[type=checkbox]{
	vertical-align: middle;
	cursor: pointer;
}

select{
	cursor: pointer;
}

select:disabled {
	border: #292929 !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: auto;
}

option:enabled {
	color:#3b3b3b;
}

.msg {
	color: black;
}
.header {
	z-index: 1000;
}
.header li {
	/* NavBar */
	float: left;
}

.header li a {
	/* NavBar */
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.header li a.header:hover {
	/* NavBar */
	background-color: #111;
}

.content {
	/* The main wrapper class for all "Page" content. Each section will embed in one of these divs. */
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 1200px;
	padding: 15px 35px 50px 35px;
}

.hidden {
	/** If set, should always hide the object. */
	display: none !important;
}

.description {
	/* Generic class for less-important, more detailed text. Usually below headers. */
	color: silver;
	padding-top: 10px;
	padding-bottom: 10px;
}

.alert_div {
	/** Div used to wrap Update messages in an alertify popup. Needs to be scrollable. */
	overflow-y: scroll;
	max-height: 400px;
	text-align: left;
	color: black;
}

.clickable_alert {
	/* alertify styling. */
	cursor: pointer;
}
.settings_input_wrapper {
	padding:10px;
}
.settings_input, .source_add, .source_add_filter_wrapper .filter_field,
.source_add_filter_wrapper .filter_operator, .source_add_filter_wrapper .filter_limit{
	background: transparent;
	border: solid #dadada 1px;
	border-radius:5px;
	padding: 5px;
	color: #dadada;
}
.settings_save_btn, .save_button, .source_add_filter, .source_filter_remove  {
	background: #4caf50;
	padding: 6px 75px;
	color: white;
	border: none;
	border-radius:5px;
	margin-bottom: 10px;
	cursor: pointer;
}
.settings_save_btn:disabled {
	background: #4b4b4b;
	cursor: auto !important;
}
.source_delete, .source_filter_remove {
	color: #ca2121;
	text-shadow: none;
	display: inline-block;
	margin-left: 25px;
	cursor: pointer;
	vertical-align: middle;
}
.source_delete:hover, .source_filter_remove:hover{
	color: #fa2222;
	text-shadow: 2px 2px black;
}
.source_controls {
	padding-bottom:10px;
}

.source_settings_group.settings_group {
	margin-top: 10px;
	margin-bottom: 10px;
}
.source_filter_wrapper {
	line-height: 25px;
}
.source_filter_list {
	margin-top:3px;
}
.source_add_filter, .source_filter_remove  {
	margin-left: 5px;
}


.source_full_wrapper {
	padding-bottom: 10px;
}


.img_row {
	display: -ms-flexbox; /* IE 10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE 10 */
	flex-wrap: wrap;
	padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.img_column {
	-ms-flex: 25%; /* IE 10 */
	flex: 25%;
	padding: 0 4px;
}

.img_column .media_container {
	margin-top: 8px;
	vertical-align: middle;
	position: relative;
	max-width: inherit;
	max-height: inherit;
	cursor: pointer;
}

.media_gallery_icon {
	position: absolute;
	top: 2px;
	right: 2px;
	font-size: 10px;
	color: #ff8177;
}

.invalid_media {
	background-color: black;
}

.icon {
	font-size: 20px;
	cursor: pointer;
}

.shadow {
	text-shadow: 0 0 10px black;
}

.lightbox {
	position: fixed;
	top: 50%;
	left: 50%;
	border: 2px solid #FFF;
	background: black;
	z-index: 1002;
	transform: translate(-50%, -50%);
	cursor: auto;
	min-height: 300px;
	min-width: 350px;
}

.lightbox .media{
	display: block;
	width: auto !important;
	height: auto;
	max-height: 90vh;
	max-width: 90vw;
}

.lightbox_fade {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .90;
	filter: alpha(opacity=80);
}

.lightbox_overlay {
	transition: .5s ease;
	opacity: 0;
	width: 100%;
	text-align: center;
	background: rgba(0,0,0,.8);
	overflow-y: auto;
	max-height: 130px;
}

.lightbox:hover .lightbox_overlay {
	opacity: 1;
}


.top {
	position: absolute;
	top:0;
}

.bottom {
	position: absolute;
	bottom:1px;
}


.left {
	position: absolute;
	left:0;
}

.right {
	position: absolute;
	right:5px;
}

.vcenter {
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
}

.center {
	text-align: center !important;
}

.align_to_text{
	vertical-align: middle;
}

.left_pad {
	margin-left: 5px;
}

.fixed {
	position: fixed !important;
}

.red {
	color: darkred !important;
}
.green {
	color: #4CAF50 !important;
}
.blue{
	color: #5576ed !important;
}
.black {
	color: black !important;
}

.hover_shadow:hover {
	text-shadow: 2px 2px black;
	cursor: pointer;
}

.no_bot{
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.search_categories{
	display: inline-block;
}

.search_field_group{
	display: inline-block;
	margin-right: 10px;
	margin-left: 13px;
}

.search_group {
	border: 1px solid gray;
	display: table;
	padding: 5px;
	margin-top: 5px;
	margin-left:auto;
	margin-right:auto;
}


.pagination {
	display: inline-block;
}

.pagination a {
	color: white;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border: 1px solid #ddd;
}

.pagination a.pagination_active {
	background-color: #4CAF50;
	color: black;
	border: 1px solid #ddd;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}
.pagination a:hover {
	color: black;
}

.pagination a:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.pagination a:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}