name: Pytest

on:
  push:
  schedule:
    - cron:  '0 8 * * *'

jobs:
  run-tests:
    name: ${{ matrix.os }}, ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      max-parallel: 3
      matrix:
        os: [ubuntu, windows, macOS]
        python-version: [3.5, 3.6, 3.7]

    steps:
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dev dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -r requirements.txt
          pip install -r requirements-dev.txt

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

      - name: Test with pytest
        env:
          RMD_REFRESH_TOKEN: ${{secrets.RMD_REFRESH_TOKEN}}
          RMD_IMGUR_ID: ${{secrets.RMD_IMGUR_ID}}
          RMD_IMGUR_SECRET: ${{secrets.RMD_IMGUR_SECRET}}
        run: |
          pytest --cov=./ --cov-report=xml --verbose redditdownloader/

      - name: Upload coverage to Codecov
        run: |
          pip install codecov
          codecov -t ${{secrets.CODECOV_TOKEN}} --name "${{ matrix.os }}, ${{ matrix.python-version }}"
